# A Sample LDMM configuration file
# Anything behind a '#' is a comment

# Empty line is ignored

# Case INsensitive, and empty spaces is allowed;
# but you must use '=' to separate the option
# and the value

# General Information
Name             = Ar Simulation
TotalSteps       = 15000
dt               = 0.002 # ps

# Batch Mode
BatchMode        = 1
BatchPass        = 30
BatchTStep       = 5.0 # K
BatchCollect     = 12000

# System description
StructureFile    = ar.gro
NP               = 256

# Initialization
InitT            = 50.0 # K
EndT             = 60.0
InitPos          = fcc

# Sample
ForceField       = LJ12-6
Integrator       = vv #velocity verlet

Cutoff           = 0.8
PairMax          = 1.0

# Update
NSScale          = 50
ScaleFactor      = 0.4
NSNeighberUpdate = 10

# Output

NSTrace          = 100
TraceFile        = t1.gro

NSStatistics     = 10
StatisticsFile   = s1.dat

